<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Almendra&family=Nabla&display=swap" rel="stylesheet">

  
  <style>
    h1 {
      font-family: 'Nabla', cursive;
    }

    body {
        font-family: 'Almendra', serif;
        background: linear-gradient(to top left, #6600cc 0%, #00cc99 100%);
    }
  </style>

</head>


<h1>The Super Awesome Party!</h1>

<h3>We are going to have a party! There will be super bouncy things - like a super bouncy castle! A super-large trampoline! Lots of popcorn! ... and Squirrels!</h3>

<h2>Registered Guests so far:</h2>

<p>Guests:</p>
<ul>
  <% @guests.each do |list| %>
    <li>
      Name: <%= list["name"] %> ~  Bringing: <%= list[1] %> friends, at <%= list[2] %>
    </li>
  <% end %>
</ul>

<h2> Sign up below to join the fun!</h2>

<form method="POST">

<p>
  <label for="fname">Name:
    <input type="text" name="name_entered" placeholder="Your Name">
  </label>
</p>

<p>
  <label for="number">Number of friends:
    <input type="number" name="number_entered" placeholder="1-5">
  </label>
</p>

<p>
<label>When will you get the the party?
  <input type="time" name="time" placeholder="Arrival time">
</label>
</p>

<p>
<label>Ready to PARTY?! Click to join!<br><br>
  <input type="submit" name="submit_button" value="Join!">
</label>
</p>

<br>

</form>